body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: white;
}

.header-container {
    height: 100px;
    background-color: black;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo {
    width: auto;
    height: 100%;
}

.company-name {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .btn {
    width: 6vw;
    height: 4vh;
    font-size: 2vh;
    line-height: 2vh;
    white-space: nowrap;
}

.bg-image {
    opacity: 0.35;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

.image-with-text {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.small-image {
    width: 50px;
    height: auto;
}

.image-text {
    margin-top: 10px;
    display: block;
}

.top-left {
    top: 14vh;
    left: -35vw;
}

.top-right {
    bottom: 14vh;
    right: -13vw;
}

.bottom-left {
    top: 18vh;
    left: -35vw;
}

.bottom-right {
    bottom: 10.5vh;
    right: -13vw;
}

.inline-image {
    width: 200px;
    height: 200px;
    margin-right: 5vh;
    margin-left: 5vh;
}

.inline-image2 {
    width: 300px;
    height: 200px;
    margin-right: 10vh;
}

.footer {
    text-align: center;
    padding: 0.5vw;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    margin-top: 100%;
}
