body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: white;
}

.header-container {
    height: 100px;
    background-color: black;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom:100%;
}

.bg-image {
    opacity: 0.3;
    position: absolute;
    top: 0; /* Ajustado */
    left: 0;
    width: 100%; /* Ajustado */
    z-index: -1;
    background-repeat: no-repeat;
}

.company-name {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: white; /* Adicionado */
}

.buttons .btn {
    width: 100px;
    height: 35px;
    font-size: 12px;
}

.footer {
    text-align: center;
    padding: 1vw;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    margin-top: 100%;
}

.small-image {
    position: absolute;
    width: 50px;
    height: 50px;
}

.top-left {
    top: 270px;
    left: 70px;
}

.top-right {
    top: 270px;
    right: 70px;
}

.bottom-left {
    bottom: -100px;
    left: 70px;
}

.bottom-right {
    bottom: -100px;
    right: 70px;
}
