body {background-color: white}
h1 {color: black;}

.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 100px;
}

.bg-image {
    opacity: 0.4;
    z-index: -1;
    position: fixed; /* Mudança para position fixed para cobrir toda a página */
    top: 0;
    left: 0;
    width: 100%; /* Definir a largura para cobrir a largura da página */
    height: 100%; /* Definir a altura para cobrir a altura da página */
    background-size: cover; /* Redimensiona a imagem para cobrir toda a área disponível */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Game-container {
    margin-bottom: 50px;
}

.btn {
    background-color: rgb(228, 228, 228);
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.imagem-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.game-col {
    width: 400px;
    min-width: 100px;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.game2-col {
    max-width: 400px;
    vertical-align: middle;
    justify-content: center;
}

.date-col {
    width: 100px;
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.state-col {
    width: 100px;
    min-width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.state2-col {
    text-align: center;
    vertical-align: middle;
}

.actions-col {
    width: 100px;
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
}

.rating-col {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    vertical-align: middle;
    text-align: center;
}


.console-col {
    width: 150px;
    min-width: 150px;
    vertical-align: middle;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 5px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    z-index: 1;
}
